fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings
loguru
pypdf
langchain==0.1.20
langchain-community==0.0.38
langchain-huggingface
langchain-text-splitters
faiss-cpu
sentence-transformers
python-dotenv
huggingface-hub==0.23.2
